@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



body {
    font-family: "Poppins", sans-serif;
    
}

img {
    max-width: 1000%;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(
        90deg,
        rgba(241,237,220,1) 0%,
        rgba(255,255,253,1) 50%,
        rgba(252,246,232,1) 100%
    );
    padding: 70px 0;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
font-size: 25px;
color: #00080c;
text-transform: uppercase;
font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #47575125;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;

}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #afb1b3;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;  
}

th, td {
    color: #f6f9fc;
}

.borrar {
    background-color: #0a080afd;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
   
}

.header-txt {
    flex-basis: 60%;
}

.header-txt h1 {
    font-size: 100px;
    line-height: 1;
    color: #00080c;
    text-transform: uppercase;
    margin-bottom: 25px;
} 

.header-txt p {
    color: #4b4b4b;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

p {
    color: #4b4b4b;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.btn-1, .btn-3 {
    display: inline-block;
    padding: 10px 30px;
    color: #7a8f87e5;
    border: 2px solid #111111ee;
    text-transform: capitalize;
    border-radius: 15px;
}

.btn-1:hover, .btn-3:hover {
    color: #ffffff;
    background-color: #484848;
}

.header-img {
    flex-basis: 60%;
}

.oferts {
    padding: 100px 0;
}

h2{
    font-size: 40px;
    line-height: 1;
    color: #00080c;
    margin-bottom: 10px;
}

.oferts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ofert-1 {
    flex-basis: calc(30% - 30px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    background-color: #f7fafa;
    border-radius: 10px;
}

.ofert-1 img {
    width: 130px;
    height: 170px;
    margin-bottom: 10px;

}

h3 {
    font-size: 20px;
    line-height: 1;
    color: #181818;
    margin-bottom: 20px;
}

.product-txt p {
    margin-bottom: 10px;
}

.btn-3 {
    padding: 4px 20px;
}

.logan-1 {
    flex-basis: 40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(images/ch2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-2 {
    flex-basis: 40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(images/ch1.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-1 h3 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
.logan-2 h3 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.logan-1 p {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.logan-2 p {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 17px;
    color: #181818;
    margin-bottom: 10px;
}

.link a {
    font-size: 17px;
    color: #484848;
    display: block;
    margin-bottom: 10px;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #6b7175;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%; 

    }

   #menu:checked ~ .navbar {
    display: initial;
   }

    .logo {
        display: none;
    }

    .menu.navbar ul li a:hover{
        color: #ffffff;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }
    .header-txt {
        margin-bottom: 25px;
    }

    .oferts {
        padding: 30px;
    }

    .oferts-content {
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 30px;
    }

    .logan-1 {
        order: -2;
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
}    

